.df_text-payment{
    font-size: 3em;
}

.df_date-payment{
    border: var(--bright-turquoise) solid 2px;
    border-radius: 10px;
    transition: .2s ease;
}

.df_payment{
    background: var(--erie-black);
    transition: .2s ease;
}

.df_payment:hover{
    background: #0c6d727a; /*pendiente checar*/
}