.df_welcome-gral{
    font-size: 1.7em;
}

.df_subsciption{
    background: #1cbdc5;
    /* background-image: linear-gradient(rgb(32, 32, 32), rgb(22, 217, 227)); */
    color: #fff;
    border-radius: 7px;
    font-size: 1.2em;
    transition: .5s ease;
}

.df_text-gral{
    font-size: 1.5em;
}

.df_little-text{
    font-size: 1.1em;
}

.df_payment-date{
    /* border: var(--bright-turquoise) solid 2px; */
    background-image: linear-gradient(to top, rgb(32, 32, 32) , rgb(23, 216, 226));
    border-radius: 10px;
}

.df_recomendation::before{
    content: '';
    width: 90%;
    border-top: var(--bright-turquoise) solid 2px;   
    margin-bottom: 30px;
}

.df_text-recomendation{
    font-size: 3em;
    color: var(--bright-turquoise);
}

.df_card{
    background: none;
    border: var(--bright-turquoise) solid 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
}

.df_img-container{
    padding: 0;
    height: 150px;
}

.df_photo-gral{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1000px){
    .df_img-container{
        padding: 0;
        height: 200px;
    }
}

@media only screen and (min-width: 1400px){
    .df_img-container{
        padding: 0;
        height: 210px;
    }
}

@media only screen and (min-width: 2000px){
    .df_img-container{
        padding: 0;
        height: 250px;
    }
}