/* main */
/* .df_img-container{
    padding: 0;
    height: 70vh;
    position: relative;
} 

.df_carousel-img{
    height: 70vh;
    object-fit: cover;
    
}

.df_caption{
    position: absolute;
    bottom: 1.5em;
}

*/

/* .df_carousel-img{
    height: 50vh;
    object-fit: cover;
}

@media only screen and (min-width: 574px) {
    .df_carousel-img{
        height: 93vh;
    }
    .df_promo{
        font-size: 2em;
    }
    .df_big-promo{
        font-size: 3.1em;   
    }
    .df_promo-contenedor{
        height: 50vh;
    }
} */

.df_carrousel-container{
    height: 50vh;
}

.df_image{
    height: 90vh;
    object-fit: cover;
}

.df_slide-2{
   object-position: 50% 50%;
}

.df_slide-3{
    object-position: 50% bottom;
 }

.df_btn-red{
    background: #dc3545;
    border-color: #812029;
}

.df_btn-red:active{
    background: #812029;
}

.df_text-carrousel{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0px 3px 5px #000;
    
}

.df_promo-contenedor{
    height: 30vh;
}

.df_card-title{
    font-size: 2em;
}

.df_card-header{
    font-size: 1.1em;
    font-weight: 500;
}

.df_card-header-basic{
    background: #07474A;
    color: #fff;
    border: none;
}

.df_card-basic{
    border: 1px solid #07474A;
    background: none;
    color: #fff;
}

.df_card-header-pro{
    background: #10A0A8;
    color: #fff;
    border: none;
}

.df_card-pro{
    border: 1px solid #10A0A8;
    background: none;
    color: #fff;
}

.df_card-ent{
    border: 1px solid var(--bright-turquoise);
    background: none;
    color: #fff;
    box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
}

.df_card-header-ent{
    background: var(--bright-turquoise);
    color: #000;
    border: none;
}

.df_btn-plan-basic{
    background:#07474A;
    border-color: #06393b;
}

.df_btn-plan-basic:active{
    background:#06393b;
}

.df_btn-plan-pro{
    background: #10A0A8;
    border-color: #0e7a80;
}

.df_btn-plan-pro:active{
    background: #0e7a80;
}

.df_recommended{
    font-size: 1.2em;
    font-weight: 600;
}

.df_bottom{
    background: #0b7075;
}

.df_img{
    border: 5px solid #10A0A8;
    border-radius: 5px;
}

.df_promo{
    color:var(--materhorn);
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
}

.df_big-promo{
    color: #fff;
    font-weight: 500;
    font-size: 2em;
}

.df_plans{
    font-size: 1.7em;
    border-bottom: 3px solid var(--bright-turquoise);
}

.df_benefits-title{
    font-size: 1.3em;
    border-bottom: 3px solid var(--bright-turquoise);
}

@media only screen and (min-width: 574px) {

    .df_promo{
        font-size: 1.5em;
    }
    .df_big-promo{
        font-size: 2.5em;   
    }

    .df_benefits{
        font-size: 2em;
    }
    
} 

@media only screen and (min-width: 1000px) {

    .df_promo{
        font-size: 2em;
    }
    .df_big-promo{
        font-size: 3em;   
    }
    .df_plans{
        font-size: 3em;
    }

    .df_benefits-title{
        font-size: 2em;
    }
} 

@media only screen and (min-width: 2000px) {

    .df_promo{
        font-size: 3em;
    }
    .df_big-promo{
        font-size: 3.2em;   
    }

    .df_plans{
        font-size: 3.5em;
    }
    
    .df_benefits-title{
        font-size: 3em;
    }

    .df_benefits{
        font-size: 3em;
    }
} 