.df_logo-plans{
    margin-right: 10px;
    width: 100px;
}

.df_text-plan{
    font-size: 2em;
}

.df_brand-plan{
    font-size: 3em;
    font-weight: 800;
}

.df-text-plan-h2{
    font-size: 1.1em;
}

.df_nav-tabs{
    border-bottom: 3px solid var(--bright-turquoise);
}

.df_nav-link{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.df_nav-link:hover{
    border: 1px solid var(--bright-turquoise) !important;
    background-color: var(--charleston-green) !important;
}

.df_nav-link.active{
    color: #202020 !important;
    background-color: var(--bright-turquoise) !important;
    border: 1px solid var(--bright-turquoise) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.df-tab-pane-left{
    border-bottom: 3px solid var(--bright-turquoise);
    border-right: 3px solid var(--bright-turquoise);
    border-left: 3px solid var(--bright-turquoise);
    border-bottom-left-radius: 30px;
}

.df-tab-pane-right{
    border-bottom: 3px solid var(--bright-turquoise);
    border-right: 3px solid var(--bright-turquoise);
    border-left: 3px solid var(--bright-turquoise);
    border-bottom-right-radius: 30px;
}

.df_card-title{
    font-size: 2em;
}

.df_card-header{
    font-size: 1.1em;
    font-weight: 500;
}

.df_card-header-basic{
    background: #07474A;
    color: #fff;
    border: none;
}

.df_card-basic{
    border: 1px solid #07474A;
    background: none;
    color: #fff;
}

.df_card-header-pro{
    background: #10A0A8;
    color: #fff;
    border: none;
}

.df_card-pro{
    border: 1px solid #10A0A8;
    background: none;
    color: #fff;
}

.df_card-ent{
    border: 1px solid var(--bright-turquoise);
    background: none;
    color: #fff;
    box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
}

.df_card-header-ent{
    background: var(--bright-turquoise);
    color: #000;
    border: none;
}

.df_btn-plan-basic{
    background:#07474A;
    border-color: #06393b;
}

.df_btn-plan-basic:active{
    background:#06393b;
}

.df_btn-plan-pro{
    background: #10A0A8;
    border-color: #0e7a80;
}

.df_btn-plan-pro:active{
    background: #0e7a80;
}

.df_badge{
    font-size: .5em;
}

.df_compare-text{
    font-size: 2em;
}

.df_check{
    font-size: 40px;
}

.df_compare-container{
    border: 2px solid #0e686d;
    border-radius: 10px;
}

.df_icon-plan{
    font-size: 2em;
}