.df_img-form{
    min-height: 100vh;
}

.df_img{
    min-height: 90vh;
    object-fit: cover;
    object-position: 56%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.df_container{
    background-color: var(--erie-black);
    border-radius: 10px;
}

.df_brand-contact{
    font-size: 2.5em;
    font-weight: 800;
}

.df_text-contact-p1{
    font-size: 1.2em;   
}

.df_text-contact-p2{
    font-size: .9em;   
}

.df_instagram{
    font-size: 3em;
    color: #e1306c;
    transition: .3s ease;
}

.df_facebook{
    font-size: 2.7em;
    color: #3b5998;
    transition: .3s ease;
}

.df_messenger{
    font-size: 2.5em;
    color: #00c6ff;
    transition: .3s ease;
}

.df_instagram:hover{
	color: #ac2552;
}

.df_facebook:hover{
	color: #2f477a;
}

.df_messenger:hover{
    color: #0095be;
}

.df_text-lines::before{
    content: '';
    border: .5px solid var(--bright-turquoise);
    height: 0;
    flex-grow: 1; 
    align-self: center;
    margin-right: 20px;
}

.df_text-lines::after{
    content: '';
    border: .5px solid var(--bright-turquoise);
    height: 0;
    flex-grow: 1; 
    align-self: center;
    margin-left: 20px;
}

.df_img-background{
    background-color: var(--erie-black);
}

.df_logo-contact{
    width: 90px;
}

.df_subbrand{
	color: var(--bright-turquoise);
	font-weight: 600;
}

@media only screen and (min-width: 547px) {
    .df_img-background{
        background-color: var(--erie-black);
        background-image: url(../img/contact.jpg);
        background-image: linear-gradient(to top, rgb(32, 32, 32) , rgb(23, 216, 226, .2)), url(../img/contact.jpg);
        background-size: cover;
    }
    
    .df_logo-contact{
    	width: 50px;
	}
}

    
@media only screen and (min-width: 1200px) {

    .df_img-background{
        background-color: var(--erie-black);
        background-image: url(../img/contact.jpg);
        background-image: linear-gradient(to top, rgb(32, 32, 32) , rgb(23, 216, 226, .2)), url(../img/contact.jpg);
        background-size: cover;
    }
}

@media only screen and (min-width: 2000px) {

    .df_img-background{
        background-color: var(--erie-black);
        background-image: url(../img/contact.jpg);
        background-image: linear-gradient(to top, rgb(32, 32, 32) , rgb(23, 216, 226, .2)), url(../img/contact.jpg);
        background-size: cover;
    }
}