.df_account-container{
    background: var(--erie-black);
    /* width: 100%; */
}

@media only screen and (min-width: 547px) {
    .df_account-container{
        /* width: 40%; */
        margin: 5% 0 5% 0;
        border-radius: 10px;
        border: var(--bright-turquoise) solid 3px;
        box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
    }

}

@media only screen and (min-width: 1200px) {
    .df_account-container{
        /* width: 30%; */
        margin: 5% 0 5% 0;
        border-radius: 10px;
        border: var(--bright-turquoise) solid 3px;
        box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
    }

}

@media only screen and (min-width: 2000px) {
    .df_account-container{
        /* width: 20%; */
        margin: 5% 0 5% 0;
        border-radius: 10px;
        border: var(--bright-turquoise) solid 3px;
        box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
    }


}