.bug-icon{
    color:var(--bright-turquoise);
    font-size: 3em;
}

.errorSugParagraph{
	font-size: 1.3em;
}

.return{
    font-size: 1.2em;
    transition: .3s ease;
}

.return:hover{
    color:var(--bright-turquoise);
}