.df_brand-footer{
    font-size: 2em;
    font-weight: 800;
}

.df_contact{
	font-size: 1.3em;
}

.df_text-footer{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.df_instagram-containter, .df_facebook-container, .df_messenger-container{
    transition: .3s ease;
}

.df_instagram-containter:hover {
    color: #e1306c;
}

.df_facebook-container:hover {
    color: #3b5998;
}

.df_messenger-container:hover {
    color: #00c6ff;
}

.df_logo-footer{
	margin-right: 10px;
    width: 40px;
}