:root{
    --bright-turquoise: #17D8E2;
    --aubergine: #231F20;
    --materhorn: #545454;
    --erie-black: #202020;
    --charleston-green: #212529;
}

button{
    border: none;
}

main{
    min-height: 100vh;
    background: var(--erie-black);
}

.df_btn{
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    background-color: var(--bright-turquoise);
    border-bottom: 3px solid #129aa1;
    border-radius: 15px;
    transition: .2s ease;
}

.df_btn:active{
    background-color: #129aa1;
}

.df_input {
    background-color: transparent;
    border: #117c81 solid 2px;
    color:#fff;
    transition: .2s ease-in-out;
}

.df_input:focus{
    box-shadow: none;
    background-color: var(--charleston-green);
    border: var(--bright-turquoise) solid 2px;
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus, 
select:-webkit-autofill:active
{
	border: var(--bright-turquoise) solid 2px;
	-webkit-text-fill-color: #fff;
	transition: background-color 5000s ease-in-out 0s;
}

.df_select{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2317D8E2' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.df_input-number::-webkit-inner-spin-button,
.df_input-number::-webkit-outer-spin-button{
    appearance: none;
    -webkit-appearance: none;
}

.df_radio{
    box-shadow: none;
    transition: .2s ease;
}

.df_radio:checked{
    background-color: var(--bright-turquoise);
    border-color: var(--bright-turquoise);
}

.df_radio:focus{
    box-shadow: 0 0 0 0.25rem rgb(23 216 226 / 25%);
}

.df_info{
    border-top: var(--bright-turquoise) solid 3px;
    border-bottom: var(--bright-turquoise) solid 3px;
}

.df_title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.df_text, .df_label, .df_link{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.df_link-btn{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.df_link-btn:hover{
    color: #fff;
}

.df_link{
    text-decoration: none;
    cursor: pointer;
}

.df_link:hover{
    color: #fff;
}

.df_vertical-align-sub{
    vertical-align: sub;
}

/* Solo Dashboard */

.df_dashnav{
    /* border: var(--bright-turquoise) solid 2px; */
    background-color: #0096b1; /* USAR ESTE COLOR DESPUES */
    background-image: linear-gradient(rgb(19, 183, 192), var(--erie-black));
}

.df_link-dash{
    transition: .2s ease;
}

.df_link-dash:hover{
    background: var(--charleston-green);
    /* border-bottom: var(--bright-turquoise) solid 2px;
    border-top: var(--bright-turquoise) solid 2px;
    border-radius: 5px; */
}

/* .df_link-gral-first:hover{
    background: var(--charleston-green);
    border-bottom: var(--bright-turquoise) solid 2px;
    border-radius: 5px;
} */

.df_text-h1{
    font-size: 3em;
}

.df_textarea{
    height: 300px !important; /*porque important aqui*/
}

.df_btn-red{
    background: #dc3545;
    border-color: #812029;
}

.df_btn-red:active{
    background: #812029;
}