.df_img-container{
    height: 100%;
}

.df_img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}


.df_link-register{
    font-size: 1.3em;
    color:aqua;
    transition: .5s ease-in-out;
}

.df_link-register:hover{
    color: #1cbdc5;
}

.df_link-forgotten{
    color: #969696;
    font-size: .9em;
    transition: .5s ease-in-out;
}

.df_link-forgotten:hover{
    color: #fff;
    font-size: .9em;
}

.df_brand-login{
    font-size: 1.7em;
    font-weight: 800;
}

.df_logo-login{
    margin-right: 10px;
    width: 40px;
}

.df_text-welcome{
    font-size: 1.3em;
}


@media only screen and (min-width: 1200px) {
    .df_text{
        font-size: 2em;
    }
    .df_text-welcome{
        font-size: 3em;
    }
    .df_brand-login{
        font-size: 4em;
        font-weight: 800;
    }
    
    .df_logo-login{
        margin-right: 10px;
        width: 70px;
    }

  
}

@media only screen and (min-width: 1400px) {
    .df_text{
        font-size: 1.5em;
    }
    .df_text-welcome{
        font-size: 2.5em;
    }
    .df_brand-login{
        font-size: 3em;
        font-weight: 800;
    }
    
    .df_logo-login{
        margin-right: 10px;
        width: 60px;
    }

}

@media only screen and (min-width: 2000px){
    .df_text{
        font-size: 2.5em;
    }
    .df_text-welcome{
        font-size: 4em;
    }
    .df_brand-login{
        font-size: 4.5em;
        font-weight: 800;
    }
    
    .df_logo-login{
        margin-right: 10px;
        width: 80px;
    }
}
