.df_bgphoto{
    background-color: var(--erie-black);
}

.df_signup-container{
    background: var(--erie-black);
    width: 100%;
}

@media only screen and (min-width: 547px) {
    .df_signup-container{
        width: 40%;
        margin: 5% 0 5% 0;
        border-radius: 10px;
        border: var(--bright-turquoise) solid 3px;
        box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
    }

    .df_bgphoto{
        background-color: var(--erie-black);
        background-image: url(../img/Signup.jpg);
        background-image: linear-gradient(to top, rgb(32, 32, 32) , rgb(23, 216, 226, .2)), url(../img/Signup.jpg);
        background-size: cover;
    }
}

@media only screen and (min-width: 1200px) {
    .df_signup-container{
        width: 30%;
        margin: 5% 0 5% 0;
        border-radius: 10px;
        border: var(--bright-turquoise) solid 3px;
        box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
    }

    .df_bgphoto{
        background-color: var(--erie-black);
        background-image: url(../img/Signup.jpg);
        background-image: linear-gradient(to top, rgb(32, 32, 32) , rgb(23, 216, 226, .2)), url(../img/Signup.jpg);
        background-size: cover;
    }
}

@media only screen and (min-width: 2000px) {
    .df_signup-container{
        width: 20%;
        margin: 5% 0 5% 0;
        border-radius: 10px;
        border: var(--bright-turquoise) solid 3px;
        box-shadow: 0px 0px 10px 1px var(--bright-turquoise);
    }

    .df_bgphoto{
        background-color: var(--erie-black);
        background-image: url(../img/Signup.jpg);
        background-image: linear-gradient(to top, rgb(32, 32, 32) , rgb(23, 216, 226, .2)), url(../img/Signup.jpg);
        background-size: cover;
    }
}