<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Connect">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/" source-path="/src/main/WebContent"/>
        <property name="context-root" value="Connect"/>
        <property name="java-output-path" value="/Connect/build/classes"/>
    </wb-module>
</project-modules>
