<!-- <div>
    <div>
        <div style="background: #17D8E2; font-size: 2em; color: #fff; font-family: 'Montserrat', sans-serif;
        font-weight: 500; padding: 30px;">
        <p style="text-align: center;">Bienvenido a Connect by Josué Animations</p>
        </div>
    </div>
    <div>
        <div style="background: #212529; font-size: 2em; color: #fff; font-family: 'Montserrat', sans-serif;
        font-weight: 300; padding: 30px;">
        <div>
            <p style="text-align: center;">Ha vínculado su correo electrónico con una cuenta de nuestros servicios</p>
            <p style="text-align: center;">¡Le agradecemos su preferencia!</p> 
            <p style="font-size: 1em; text-align: center;"> Para iniciar la creación de su sitio web inicie sesión en nuestra página:</p>
            <p style="text-align: center;"><a href="http://localhost:8080/Connect/index.jsp" style="color: #fff;">www.Connect.com</a></p>
        </div>
        </div>
    </div>
    
</div>
 -->

<div><div><div style="background: #17D8E2; font-size: 2em; color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 500; padding: 30px;"><p style="text-align: center;">Bienvenido a Connect by Josué Animations</p></div></div><div><div style="background: #212529; font-size: 2em; color: #fff; font-family: 'Montserrat', sans-serif;font-weight: 300; padding: 30px;"><div><p style="text-align: center;">Ha vínculado su correo electrónico con una cuenta de nuestros servicios</p><p style="text-align: center;">¡Le agradecemos su preferencia!</p><p style="font-size: 1em; text-align: center;"> Para iniciar la creación de su sitio web inicie sesión en nuestra página:</p><p style="text-align: center;"><a href="http://localhost:8080/Connect/index.jsp" style="color: #fff;">www.Connect.com</a></p></div></div></div></div>


    